html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  display: inline-block;
}

main {
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  margin: 0;
  text-align: center;
  min-width: 400px;
}

p {
  text-align: left;
}

header {
  background-color: #ffe500;
  padding-bottom: .5em;
}

h1 {
  text-align: center;
  font-family: "Sigmar One", cursive;
  font-size: 2.5em;
  color: #b20953;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  text-transform: uppercase;
  text-align: left;
  color: #b20953;
}

img {
  width: 100%;
  display: block;
  text-align: center;
}

a {
  padding: .2em .5em .3em;
  border-radius: 4px;
  color: #fff;
  background-color: #b2a212;
  font-family: Georgia;
  text-decoration: none;
}

a:hover {
  background-color: #cc1465;
  text-decoration: underline;
}

.current {
  background-color: #b20953;
}

footer {
  padding: 1em;
  color: #2f2d13;
  background-color: #ffe500;
}
